<header class="bg-dark sticky-top">
    <nav class="navbar navbar-expand container navbar-dark justify-content-around">
        <span class="navbar-brand">
            <img src="images/logo_credit-finance.png" alt="logo Crédit&Finance" width="150">
        </span>
        <ul class="navbar-nav fw-bold" data-bs-theme="dark">
            <li class="nav-item">
                <a href="" class="nav-link">
                    Home <i class="bi bi-house-door-fill"></i>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Immobilier <i class="bi bi-building-fill"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Résidence principale</a></li>
                    <li><a class="dropdown-item" href="#">Rentabilité</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Investissements <i class="bi bi-bank2"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Réduction d'impôts</a></li>
                    <li><a class="dropdown-item" href="#">SCPI</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Simulations
                    <i class="bi bi-graph-up-arrow"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Mensualités</a></li>
                    <li><a class="dropdown-item" href="#">Crédits</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href=" {{ path('parrainage') }} " class="nav-link">
                Parrainage <i class="bi bi-gift-fill"></i>
                </a>
            </li>
            {# {% if app.user %} #}
            {# {% else %} #}
            {# {% endif %} #}
        </ul>
    </nav>
</header>